/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 11, 2019, 10:39:27 PM
    Author     : user
*/

@media only screen and (min-width: 992px) {
    #mainNav.is-fixed {
        top: -86px !important;
    }
}    

.logo-img {
    height: auto;
    width: 200px;
}

* {
  box-sizing: border-box;
}

.blog-category-input {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#blog-category-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#blog-category-ul li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#blog-category-ul li a:hover:not(.header) {
  background-color: #eee;
}

.blog-category-li-selected {
    background-color: #eee !important;
}
