@font-face {
    font-family: "Adam-CG";
    src: url("../fonts/Adam-CG.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Nunito-Regular';
    src: url('../fonts/Nunito-Regular.ttf'); 
    font-style: normal;
    font-weight: normal;
}
body{
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
    overflow-x: hidden;
    background-color: #000;
}
a {
    color: #fff;
    transition:0.3s all ease;
    -moz-transition:0.3s all ease;
    -webkit-transition:0.3s all ease;
    -o-transition:0.3s all ease;
}
a:hover , a:focus {
    text-decoration: none;
    color: #53a901;
    outline: none;
    transition:0.3s all ease;
    -moz-transition:0.3s all ease;
    -webkit-transition:0.3s all ease;
    -o-transition:0.3s all ease;
}
ul,ol{
    padding: 0px;
}
li {
    list-style: none;
}
p, dt, dd, dl, address, small, pre, code {
    font-size: 13px;
    line-height: 1.75;
    margin: 10px 0 0;
}
.btn, .add-to-links .btn-link, button, button.button {
    background: #53a901;
    border-color: #fff;
}
.btn:hover, button:hover, button:focus, button.button:hover, button.button:focus, .add-to-links .btn-link:hover, .add-to-links .btn-link:focus, .sidebar .block .actions a.btn:hover{
    background: #035904;
    border-color: #fff;
    color: #fff;
    -webkit-transition: all 350ms ease 0s;
    -moz-transition: all 350ms ease 0s;
    -ms-transition: all 350ms ease 0s;
    -o-transition: all 350ms ease 0s;
    transition: all 350ms ease 0s;
}

.btn, .btn:hover, button, button.button, .add-to-links .btn-link:hover, .add-to-links .btn-link:focus, input[type="file"]:focus, input[type="checkbox"]:focus, input[type="radio"]:focus, input[type="file"]:focus, input[type="checkbox"]:focus, input[type="radio"]:focus {
    text-decoration: none;
    outline: none;
    -webkit-transition: all 350ms ease 0s;
    -moz-transition: all 350ms ease 0s;
    -ms-transition: all 350ms ease 0s;
    -o-transition: all 350ms ease 0s;
    transition: all 350ms ease 0s;
}
.btn, .add-to-links .btn-link, button, button.button {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 14px 20px;
    border-radius: 30px;
    border: 1px solid #fff;
    line-height:normal;
    font-family: "Adam-CG";
}
.no-padding{
    padding: 0;
}
.no-margin{
    margin:0; 
}
.a-right {
    text-align: right !important;
}
.a-left {
    text-align: left !important;
}
.a-center {
    text-align: center !important;
}
.f-right{
    float: right;
}
.f-left{
    float: left;
} 
.lpadd0{
    padding-left: 0;
}
.rpadd0{
    padding-right: 0;
}

.mt5{
    margin-top: 5px !important;
}
.mt10{
    margin-top:10px !important;
}
.mt15{
    margin-top: 15px !important;
}
.mt20{
    margin-top: 20px !important;
}
.mr5{
    margin-right: 5px !important;
}
.mr10{
    margin-right: 10px !important;
}
.mb5{
    margin-bottom: 5px !important;
}
.mb10{
    margin-bottom: 10px !important;
}
.mb15{
    margin-bottom: 15px !important;
}
.mb20{
    margin-bottom: 20px !important;
}
.main-section{
    padding: 60px 0px;
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    font-family: "Adam-CG";
    line-height: 1.45;
    font-size: 30px;
    letter-spacing: 2px;
}
.main-section{
    padding: 50px 0px;
}
/*##################### Home page ###################*/
header{
    position: relative;
    background-color: #000;
}
.navbar-custom{
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: none;
    min-height: 70px;
    margin-bottom: 0px;
    padding: 30px 0px;
    z-index: 9;
}
.navbar-custom .navbar-nav>li>a{
    padding: 25px 15px;
}
.hero-image{
    /*padding-top: 100px;*/
}
.navbar-custom .navbar-brand {
    float: left;
    height: auto;
    padding: 0px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-custom.navbar-inverse .navbar-nav>li>a{
    font-family: "Adam-CG";
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
}
.navbar-custom.navbar-inverse .navbar-nav>li>a:hover{
    color: #53a901;
}
.navbar-custom.navbar-inverse .navbar-nav>li.active>a , .navbar-custom.navbar-inverse .navbar-nav>li.active>a:hover{
    background-color: #53a901;
    color: #fff;
}
@media (min-width: 768px){
    .navbar-right {
        float: right!important;
        margin-right: 0px;
    }
    .navbar-nav>li+li{
        margin-left: 15px;
    }
}
/*############## mid icon tab section #############*/
.mid-icon-section{
    background-image: url("../img/mid-bg.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.deal-links , .deal-links ul{
    display: inline-block;
}
.deal-links ul li{
    display: inline-block;
    text-align: center;
}
.deal-links ul li+li{
    margin-left: 200px;
}
.deal-links ul li img{
    width: 180px;
}
.deal-links ul li p{
    font-family: "Adam-CG";
    font-size: 25px;
    text-shadow: 3px 3px 1px #000;
}
.main-head{
    font-size: 45px;
    text-shadow: 3px 3px 1px #53a901;
    font-family: "Adam-CG";
}
.icon-dynamic-tabs {
    margin: 40px 0px;
}
.network-tabs ul li{
    text-align: center;
}
.network-tabs ul li img{
    width: 170px;
    display: inline-block;
}
.horizontal-list li{
    display: inline-block;
}
.horizontal-list li+li{
    margin-left: 7px;
}
.tab-content {
    width: 100%;
    height: 475px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 1px solid;
}
.tab-content.organic-network-content{
    display: table;
}
.tab-content.organic-network-content > .active.tab-pane{
    display: table-cell;
    vertical-align: middle;
}
.tab-content.organic-network-content p{
    font-family: 'Nunito-Regular', sans-serif;
    max-width: 70%;
    line-height: 1.45;
    font-size: 20px;
    text-align: center;
    margin: auto;
}
.network-tabs{
    position: relative;
}
.network-tabs:before{
    content: "";
    border: 3px dashed #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0.84,0.80);
    display: block;
}
/*############ Deals Section ##############*/
.deals-section{
    background-image: url("../img/deals-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
}
.deals-worth{
    position: relative;
}
.deals-worth span{
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    font-size: 30px;
    font-family: "Adam-CG";
    text-shadow: 3px 3px 1px #000;
}
.deals-section .deal-icon img{
    width: 180px;
    margin: 0px auto;
    vertical-align: middle;
}
.deals-content-section{
    margin: 00px auto 250px;
}
.deals-content-section h1{
    font-size: 45px;
    text-shadow: 3px 3px 1px #53a901;
}
.deals-content-section h4{
    font-size: 25px;
    text-shadow: 3px 3px 1px #000;
}
.deals-block p{
    font-size: 16px;
    line-height: 1.4;
    max-width: 100%;
    margin: 0px 0px 20px;
    text-align: center;
}

.organic-network-content .tab-pane h3{
    margin: 0px 0px 10px;
    text-shadow: 2px 2px 3px #53a901;
}

/*################# footer #############*/
#myFooter {
    background-color: #040404;
    color: white;
    padding-top: 30px;
    border-top: 1px solid
}

#myFooter .footer-copyright {
    background-color: #000;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 16px;
    font-family: "Adam-CG";
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
    font-family: 'Nunito-Regular', sans-serif;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: #53a901;
}

#myFooter .social-networks {
    text-align: center;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #53a901;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

/*large mobile and Tablet*/
@media screen and (min-width: 481px) and (max-width: 767px) { 
    .navbar-custom{
        position: relative;
    }
    .deal-links ul li+li{
        margin-left: 20px;
    }
    h2.logo img{
        display: inline-block;
    }
    .hero-image{
        padding-top:  0px;
    }
    .deals-content-section {
        margin: 00px auto 80px;
    }
    .navbar-custom.navbar-inverse .navbar-nav>li>a{
        padding:  25px 40px;
    }
    .navbar-custom{
        padding:  10px 0px;
        border-bottom: 1px solid #fff;
    }
    .navbar-brand img{
        width:  200px;
    }
    .deal-links ul li img {
        width: 150px;
        margin: auto;
        display: inline-block;
    }
    .deals-content-section h1{
        font-size: 35px;
    }
    .deals-content-section h4{
        font-size: 22px;
    }
}
.network-tabs ul.tab-list li.active img{ 
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
}
.network-tabs ul.tab-list>li.active img{ 
    filter: sepia(100%) saturate(500%) hue-rotate(60deg);
    filter: sepia() saturate(500%) hue-rotate(60deg);
    -webkit-filter: sepia() saturate(500%) hue-rotate(60deg);
    -moz-filter: sepia() saturate(500%) hue-rotate(60deg);
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
}

@media screen and (min-width:220px) and (max-width: 767px) {

    ul.horizontal-list.tab-list {
        display: inline-flex;
    }
    ul.inline-list.tab-list {
        display: inline-flex;
    }
    .network-tabs ul li{
        display: inline-flex;
    }
    .tab-content{
        height: 245px;
    }
    .network-tabs ul li img {
        width: 80px;
        display: inline-block;
    }
    .network-tabs:before{
        transform: scale(1,0.90);
        border: 1px dashed #fff;
    }
}
@media screen and (min-width:768px) and (max-width: 1200px) {

    ul.horizontal-list.tab-list {
        display: block;
    }
    ul.inline-list.tab-list {
        display: block;
    }
    .network-tabs ul li img {
        width: 115px;
        display: inline-block;
    }
    .tab-content{
        height: 265px;
    }
}
@media screen and (min-width:280px) and (max-width: 480px) {
    .navbar-custom{
        position: relative;     
    }
    .deal-links ul li+li{
        margin-left: 20px;
    }
    h2.logo img{
        display: inline-block;
    }
    .hero-image{
        padding-top:  0px;
    }
    .deals-content-section h4{
        font-size: 20px;
    }
    .deals-content-section {
        margin: 00px auto 60px;
    }
    .deals-content-section h1{
        font-size: 30px;
    }
    .navbar-custom.navbar-inverse .navbar-nav>li>a{
        padding: 15px 40px;
        font-size: 14px;
    }
    .navbar-custom{
        padding:  10px 0px;
        border-bottom: 1px solid #fff;
    }
    .navbar-brand img{
        width: 200px;
    }
    .main-head{
        font-size:35px; 
    }
    .icon-dynamic-tabs{
        margin:25px 0px;
    }
    .tab-content.organic-network-content p{
        font-size: 16px;
    }
    .network-tabs ul li img{
        width: 65px;
    }
    .deal-links ul li+li{
        margin: 20px 0px 0px;
    }
    .network-tabs{
        margin: 20px 0px;
    }

}
@media screen and (min-width:280px) and (max-width: 380px){
    .navbar-custom .navbar-brand{
        width: 135px;
    }
    .navbar-brand img {
        width: 175px;
        height: 45px;
        object-fit: contain;
    }
}

/* for wow js to load on scroll instead of page load */
.wow {
    visibility: hidden;
}

/*About us page*/
.about-video{
    width: 100%;
}
.video-bg {
    position: relative;
    background: #fff;
}
.heading-about {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 100%;
    z-index: 999999;
    padding-left: 5%;
}
.heading-about h1{
    font-size: 7vw;
    text-shadow: 3px 3px 1px #000;
}
.about-content{
    background: #fff;
    color: #000;
}
.about-content .about-text p{
    font-size: 22px;
    line-height: 1.40;
    text-align: center;
    margin-bottom: 50px;
    color: #333;
}
.about-content .about-text h2{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.row.display-flex-row{
    display: flex;
    width: 100%;
    align-items: center;
}
.registration-banner img{
    max-height: 650px; 
    object-fit: cover;
    width: 100%;
}
.has-error{
    color: red;
}


